@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500&family=Shrikhand&display=swap");
.btn, .center_container__menu .btn--comander, #mainHeader .explore button {
  color: #ffffff;
  margin: auto;
  border: none;
  font-size: 17px;
  background: linear-gradient(-6deg, #9356dc, #FF79DA);
  padding: 15px;
  border-radius: 38px;
  box-shadow: 0px 2px 5px grey;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #010101;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Shrikhand", sans-serif;
}

#center_container {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}
#center_container h3 {
  font-size: 23px;
  margin: 25px 20px;
}
#center_container article {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1607843137);
  width: 90%;
  height: 255px;
  margin: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}
#center_container article a {
  text-decoration: none;
  color: #010101;
}
#center_container article a img {
  height: 175px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
#center_container article a .now_menu {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #99e2d0;
  color: #2d8669;
  padding: 6px 14px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 15px;
}
#center_container article a h4 {
  font-size: 18px;
  margin: 10px 15px 0px;
}
#center_container article a p {
  font-weight: 200;
  font-size: 17px;
  margin: 5px 15px 0px;
}
#center_container article input[type=checkbox] {
  display: none;
}
#center_container article input[type=checkbox]:checked + label i {
  font-weight: 900;
  color: pink;
}
#center_container article .btn--heart .far {
  position: absolute;
  border: none;
  right: 25px;
  bottom: 30px;
  font-size: 25px;
  color: #808080;
  background: none;
  cursor: pointer;
  transition: 1s ease;
}
#center_container article input[type=checkbox] {
  display: none;
}
#center_container article input[type=checkbox]:checked + label .far {
  font-weight: 900;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(-6deg, #9356dc, #FF79DA);
}

#mainHeader {
  width: 100%;
}
#mainHeader .explore {
  background-color: #f7f7f7;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainHeader .explore #logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 12px;
  width: 100%;
  background: #ffffff;
}
#mainHeader .explore #logo img {
  height: 30px;
}
#mainHeader .explore .explore--mapBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 52px;
  background-color: #ebebeb;
  width: 100%;
  box-shadow: inset 0em 3px 5px rgba(0, 0, 0, 0.1607843137);
}
#mainHeader .explore .explore--mapBar .fas {
  font-weight: 900;
  padding-bottom: 5px;
  color: #494949;
}
#mainHeader .explore .explore--mapBar p {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}
#mainHeader .explore h2 {
  text-align: center;
  font-size: 24px;
  padding: 20px 46px 0px;
  margin-bottom: 0px;
}
#mainHeader .explore p {
  color: #808080;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  margin: 15px;
}
#mainHeader .explore button {
  margin: 15px;
}
#mainHeader nav {
  margin-top: 50px;
  margin-bottom: 60px;
}
#mainHeader nav h3 {
  font-size: 23px;
  margin: 30px 20px;
}
#mainHeader nav ul {
  padding: 0%;
}
#mainHeader nav ul :hover {
  background-color: #f3eafc;
  cursor: pointer;
}
#mainHeader nav ul :hover i {
  color: #9356dc;
}
#mainHeader nav ul li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  border: none;
  border-radius: 20px;
  background-color: #f7f7f7;
  width: 70%;
  margin-bottom: 25px;
  padding: 25px;
  position: relative;
  box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.368627451);
}
#mainHeader nav ul li a {
  text-decoration: none;
  color: #010101;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#mainHeader nav ul li a i {
  color: #808080;
}
#mainHeader nav ul li a .fa-store {
  margin: 0px 22px 0px 12px;
}
#mainHeader nav ul li a .fa-mobile-alt {
  font-size: 20px;
  margin: 0px 25px 0px 14px;
}
#mainHeader nav ul li a .menu-ellipsisBars {
  display: flex;
  align-items: center;
  margin: 0px 20px 0px 10px;
  color: gray;
}
#mainHeader nav ul li a .menu-ellipsisBars .fa-ellipsis-v {
  font-size: 15px;
}
#mainHeader nav ul li a .menu-ellipsisBars .fa-bars {
  font-size: 17px;
  padding-left: 2px;
}
#mainHeader nav ul li a .number {
  height: 15px;
  width: 15px;
  font-size: 15px;
  padding: 5px;
  border-radius: 50%;
  background-color: #9356dc;
  color: #ffffff;
  position: absolute;
  left: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainFooter {
  padding: 10px 25px 40px;
  color: #ffffff;
  background-color: #353535;
}
#mainFooter h3 {
  font: 19px "Shrikhand";
}
#mainFooter ul {
  padding: 0%;
}
#mainFooter ul li {
  list-style-type: none;
  font-size: 15px;
  margin-bottom: 10px;
}
#mainFooter ul li #hands {
  font-size: 11px;
  padding-right: 10px;
}
#mainFooter ul li #utensils {
  font-size: 14px;
  padding-right: 13px;
}
#mainFooter ul li a {
  text-decoration: none;
  color: #ffffff;
}

#main_wrapper__menu {
  width: 100%;
  margin: auto;
  /*#test::before{
      font-family: "Font Awesome 5 Free";
      content: "\f004";*/
}
#main_wrapper__menu #logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px 12px;
  width: 100%;
}
#main_wrapper__menu #logo img {
  height: 30px;
}
#main_wrapper__menu #logo i {
  color: #353535;
  font-size: 22px;
  padding: 0px 60px 0px 30px;
}
#main_wrapper__menu .mainHeader__imag {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.center_container__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #f7f7f7;
  top: 280px;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
}
.center_container__menu .center_container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 30px 25px 20px;
}
.center_container__menu .center_container__header h1 {
  font: 28px "Shrikhand";
}
.center_container__menu .center_container__header .btn--heart .far {
  font-weight: 100;
  border: none;
  background: none;
  font-size: 25px;
  cursor: pointer;
  transition: 1s ease;
}
.center_container__menu .center_container__header input[type=checkbox] {
  display: none;
}
.center_container__menu .center_container__header input[type=checkbox]:checked + label .far {
  font-weight: 900;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(-6deg, #9356dc, #FF79DA);
}
.center_container__menu section {
  display: inline-block;
  flex-direction: column;
  margin: 0 15px;
  padding-bottom: 20px;
  opacity: 0;
  transform: translateY(-30px);
}
.center_container__menu section:nth-child(1) {
  -webkit-animation: slide-top 0.8s 0.2s ease-out forwards;
          animation: slide-top 0.8s 0.2s ease-out forwards;
}
.center_container__menu section:nth-child(2) {
  -webkit-animation: slide-top 0.8s 0.4s ease-out forwards;
          animation: slide-top 0.8s 0.4s ease-out forwards;
}
.center_container__menu section:nth-child(3) {
  -webkit-animation: slide-top 0.8s 0.6s ease-out forwards;
          animation: slide-top 0.8s 0.6s ease-out forwards;
}
.center_container__menu section:nth-child(4) {
  -webkit-animation: slide-top 0.8s 0.8s ease-out forwards;
          animation: slide-top 0.8s 0.8s ease-out forwards;
}
.center_container__menu section h2 {
  font: 17px roboto;
  font-weight: 200;
  margin: 15px 0px 5px;
}
.center_container__menu section hr {
  width: 12%;
  margin: 0 0 15px;
  background-color: #99e2d0;
  height: 3px;
  border: none;
}
.center_container__menu section input[type=checkbox] {
  display: none;
}
.center_container__menu section input[type=checkbox]:checked + label .label__rightBloc {
  width: 24%;
}
.center_container__menu section label {
  display: flex;
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  height: 75px;
  width: 100%;
  margin-bottom: 17px;
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.368627451);
}
.center_container__menu section label .label__leftBloc {
  width: 100%;
  padding: 15px 14px 10px;
}
.center_container__menu section label .label__leftBloc h4 {
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.center_container__menu section label .label__leftBloc p {
  margin: 0;
  margin-top: 5px;
  font: 16px roboto;
  font-weight: 200;
  justify-content: space-between;
}
.center_container__menu section label .label__leftBloc p span {
  font-weight: 500;
  float: right;
}
.center_container__menu section label .label__rightBloc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  transition: width 0.4s ease;
}
.center_container__menu section label .label__rightBloc i {
  background-color: #ffffff;
  padding: 6px;
  border-radius: 50%;
  font-size: 13px;
  color: #99e2d0;
}
.center_container__menu .btn--comander {
  width: 65%;
  margin-bottom: 60px;
}

@-webkit-keyframes slide-top {
  100% {
    opacity: 1;
  }
}

@keyframes slide-top {
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */