@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500&family=Shrikhand&display=swap");
.btn, .btn--comander, .btn--explore {
  margin: auto;
  border: none;
  font-size: 17px;
  box-shadow: 0px 3px 10px rgba(53, 53, 53, 0.25);
  color: #ffffff;
  background: linear-gradient(-6deg, #9356dc, #FF79DA);
  padding: 15px;
  border-radius: 38px;
  transition: 0.5s;
  cursor: pointer;
}
.btn:hover, .btn--comander:hover, .btn--explore:hover {
  background: linear-gradient(-6deg, rgba(147, 87, 220, 0.9215686275), rgba(255, 121, 217, 0.9058823529));
  box-shadow: 0px 3px 10px rgba(53, 53, 53, 0.6);
}

.btn--explore {
  margin: 15px;
}

.btn--comander {
  padding: 15px 55px;
  margin-bottom: 60px;
}

.btn--heart .far {
  color: #808080;
  border: none;
  background: none;
  font-size: 25px;
  cursor: pointer;
}

.btn--heart .far--home {
  position: absolute;
  right: 25px;
  bottom: 30px;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked + label .far {
  font-weight: 900;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(-6deg, #9356dc, #FF79DA);
  transition: all 1.5s ease-out;
}

.btn--home-li {
  margin: auto;
  border: none;
  font-size: 17px;
  box-shadow: 0px 3px 10px rgba(53, 53, 53, 0.25);
  list-style-type: none;
  font-weight: 500;
  border-radius: 20px;
  background-color: #f7f7f7;
  width: 70%;
  margin-bottom: 25px;
  padding: 25px;
  position: relative;
}
.btn--home-li:hover {
  background-color: #f3eafc;
  box-shadow: 0px 3px 10px rgba(53, 53, 53, 0.6);
}
.btn--home-li:hover i {
  color: #9356dc;
}
.btn--home-li a {
  text-decoration: none;
  color: #010101;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btn--home-li a i {
  color: #808080;
}
.btn--home-li a .fa-store {
  margin: 0px 22px 0px 12px;
}
.btn--home-li a .fa-mobile-alt {
  font-size: 20px;
  margin: 0px 25px 0px 14px;
}
.btn--home-li a .menu-ellipsisBars {
  display: flex;
  align-items: center;
  margin: 0px 20px 0px 10px;
  color: gray;
}
.btn--home-li a .menu-ellipsisBars .fa-ellipsis-v {
  font-size: 15px;
}
.btn--home-li a .menu-ellipsisBars .fa-bars {
  font-size: 17px;
  padding-left: 2px;
}
.btn--home-li a .number {
  height: 15px;
  width: 15px;
  font-size: 15px;
  padding: 5px;
  border-radius: 50%;
  background-color: #9356dc;
  color: #ffffff;
  position: absolute;
  left: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  input:hover + label .far {
    font-weight: 900;
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    background-image: linear-gradient(-6deg, #9356dc, #FF79DA);
    transition: all 0.5s ease-out;
  }
}
.lds-default-content {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #f7f7f7;
  height: 100vh;
  border-radius: 20px;
  inset: 0;
  z-index: 1;
  opacity: 0.95;
  -webkit-animation: disappear 0.5s 2s linear forwards;
          animation: disappear 0.5s 2s linear forwards;
  transform-origin: top;
}

@-webkit-keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  color: #FF79DA;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  -webkit-animation: 1s spin linear infinite;
          animation: 1s spin linear infinite;
}

.loader:after {
  color: #9356dc;
  transform: rotateY(70deg);
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@-webkit-keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  0%, 100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
@keyframes spin {
  0%, 100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
.menu-lst div {
  -webkit-animation: menu-slide 1s;
          animation: menu-slide 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu-lst div:nth-child(1) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.menu-lst div:nth-child(2) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.menu-lst div:nth-child(3) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.menu-lst div:nth-child(4) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
@-webkit-keyframes menu-slide {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes menu-slide {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#mainFooter {
  width: 100%;
  padding: 10px 0px 40px;
  color: #ffffff;
  background-color: #353535;
}
#mainFooter h3 {
  padding-left: 5%;
  font: 19px "Shrikhand";
}
#mainFooter ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-left: 5%;
}
#mainFooter ul li {
  font-size: 15px;
  margin-bottom: 10px;
}
#mainFooter ul li #hands {
  font-size: 11px;
  padding-right: 10px;
}
#mainFooter ul li #utensils {
  font-size: 14px;
  padding-right: 13px;
}
#mainFooter ul li a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
}

#mainHeader {
  width: 100%;
}
#mainHeader .explore {
  background-color: #f7f7f7;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#mainHeader .explore #logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 12px;
  width: 100%;
  background: #ffffff;
}
#mainHeader .explore #logo img {
  height: 30px;
}
#mainHeader .explore .explore--mapBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 52px;
  background-color: #ebebeb;
  width: 100%;
  box-shadow: inset 0em 3px 5px rgba(0, 0, 0, 0.1607843137);
}
#mainHeader .explore .explore--mapBar .fas {
  font-weight: 900;
  padding-bottom: 5px;
  color: #494949;
}
#mainHeader .explore .explore--mapBar p {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}
#mainHeader .explore h2 {
  text-align: center;
  font-size: 24px;
  padding: 20px 46px 0px;
  margin-bottom: 0px;
}
#mainHeader .explore p {
  color: #808080;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  margin: 15px;
}
#mainHeader #operation {
  margin-top: 50px;
  margin-bottom: 60px;
}
#mainHeader #operation h3 {
  font-size: 23px;
  margin: 30px 20px;
}
#mainHeader #operation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  #mainHeader #operation {
    padding: 0px 50px;
  }
  #mainHeader #operation #operation--lst {
    display: flex;
    justify-content: space-evenly;
  }
  #mainHeader #operation #operation--lst li {
    width: 320px;
    padding: 22px;
    margin: 0px 10px 30px;
  }
  #mainHeader #operation #operation--lst li a {
    font-size: 1rem;
    justify-content: center;
  }
  #mainHeader #operation #operation--lst li a .fa-mobile-alt {
    font-size: 17px;
  }
  #mainHeader #operation #operation--lst li a .menu-ellipsisBars {
    color: gray;
  }
  #mainHeader #operation #operation--lst li a .menu-ellipsisBars .fa-ellipsis-v {
    font-size: 13px;
  }
  #mainHeader #operation #operation--lst li a .menu-ellipsisBars .fa-bars {
    font-size: 15px;
  }
  #mainHeader #operation #operation--lst li a .number {
    height: 18px;
    width: 18px;
    font-size: 16px;
    padding: 6px;
    left: -30px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #010101;
  background-color: #ffffff;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Roboto", "Shrikhand", sans-serif;
}
body #center_container {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #f7f7f7;
}
body #center_container h3 {
  font-size: 23px;
  margin: 25px 20px;
}
body #center_container article {
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1607843137);
  width: 90%;
  height: 255px;
  margin: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: relative;
}
body #center_container article a {
  text-decoration: none;
  color: #010101;
}
body #center_container article a img {
  height: 175px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
body #center_container article a .now_menu {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #99e2d0;
  color: #2d8669;
  padding: 6px 14px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 15px;
}
body #center_container article a h4 {
  font-size: 18px;
  margin: 10px 15px 0px;
}
body #center_container article a p {
  font-weight: 200;
  font-size: 17px;
  margin: 5px 15px 0px;
}

@media screen and (min-width: 768px) {
  #center_container h3 {
    padding-bottom: 40px;
  }
  #center_container #list_restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #center_container #list_restaurants article {
    width: 570px;
    height: 320px;
    margin: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
  }
  #center_container #list_restaurants article:hover {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5);
  }
  #center_container #list_restaurants article img {
    height: 230px;
  }
}
#main_wrapper__menu {
  width: 100%;
  margin: auto;
}
#main_wrapper__menu #logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px 12px;
  width: 100%;
}
#main_wrapper__menu #logo img {
  height: 30px;
}
#main_wrapper__menu #logo i {
  color: #353535;
  font-size: 22px;
  padding: 0px 60px 0px 30px;
}
#main_wrapper__menu .mainHeader__imag {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
#main_wrapper__menu .center_container__menu {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
  top: 280px;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
}
#main_wrapper__menu .center_container__menu .center_container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 30px 25px 20px;
}
#main_wrapper__menu .center_container__menu .center_container__header h1 {
  font: 28px "Shrikhand";
}
#main_wrapper__menu .center_container__menu section {
  display: inline-block;
  margin: 0 15px;
  padding-bottom: 20px;
}
#main_wrapper__menu .center_container__menu section h2 {
  font: 17px roboto;
  font-weight: 200;
  margin: 15px 0px 5px;
}
#main_wrapper__menu .center_container__menu section hr {
  width: 10%;
  margin: 0 0 15px;
  background-color: #99e2d0;
  height: 3px;
  border: none;
}
#main_wrapper__menu .center_container__menu section input[type=checkbox] {
  display: none;
}
#main_wrapper__menu .center_container__menu section input[type=checkbox]:checked + label .label__rightBloc {
  width: 19%;
}
#main_wrapper__menu .center_container__menu section label {
  display: flex;
  position: relative;
  background-color: #ffffff;
  border-radius: 15px;
  height: 70px;
  width: 100%;
  margin-bottom: 17px;
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(128, 128, 128, 0.368627451);
}
#main_wrapper__menu .center_container__menu section label .label__leftBloc {
  width: 100%;
  padding: 15px 14px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
#main_wrapper__menu .center_container__menu section label .label__leftBloc h4 {
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#main_wrapper__menu .center_container__menu section label .label__leftBloc .prg-label__leftBloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
#main_wrapper__menu .center_container__menu section label .label__leftBloc .prg-label__leftBloc p {
  margin: 0;
  margin-right: 5px;
  font: 16px roboto;
  font-weight: 200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#main_wrapper__menu .center_container__menu section label .label__leftBloc .prg-label__leftBloc span {
  font-weight: 500;
}
#main_wrapper__menu .center_container__menu section label .label__rightBloc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  transition: width 0.4s ease;
}
#main_wrapper__menu .center_container__menu section label .label__rightBloc i {
  background-color: #ffffff;
  padding: 6px;
  border-radius: 50%;
  font-size: 13px;
  color: #99e2d0;
}

@media screen and (min-width: 768px) {
  #main_wrapper__menu {
    width: 80%;
    margin: auto;
  }
  #main_wrapper__menu .mainHeader__imag {
    height: 300px;
  }
  #main_wrapper__menu .center_container__menu {
    width: 80%;
    margin: auto;
    align-items: center;
    top: 330px;
  }
  #main_wrapper__menu .center_container__menu .center_container__header {
    width: 375px;
    margin: 40px 0px 30px;
  }
  #main_wrapper__menu .center_container__menu section {
    width: 635px;
  }
  #main_wrapper__menu .center_container__menu section hr {
    width: 9%;
  }
  #main_wrapper__menu .center_container__menu section input[type=checkbox] {
    display: none;
  }
  #main_wrapper__menu .center_container__menu section input[type=checkbox]:hover + label .label__rightBloc {
    width: 15%;
  }
  #main_wrapper__menu .center_container__menu section input[type=checkbox]:checked + label .label__rightBloc {
    width: 15%;
  }
}/*# sourceMappingURL=styles.css.map */