.btn{
    color: color("white");
    margin: auto;
    border: none;
    font-size: 17px;
    background: color("color-buttons");
    padding: 15px;
    border-radius: 38px;
    box-shadow: 0px 2px 5px grey;
    cursor: pointer;
}

