#mainFooter{
    width: 100%;
    padding: 10px 0px 40px;
    color: color("white");
    background-color: color("footer-background");
    h3{
        padding-left: 5%;
        font: 19px "Shrikhand" ;
    }
    ul{
        @include reset('list');
        padding-left: 5%;
        li{
            font-size: 15px;
            margin-bottom: 10px;
            #hands{
                font-size: 11px;
                padding-right: 10px;
            }
            #utensils{
                font-size: 14px;
                padding-right: 13px;
            }
            a{
                @include reset('link');
                color: color("white");
            } 
        }
    }
}