
body {
    font-family: $body-font;
    font-size: 1rem;
    color: color("black");
    background-color: color("white");


    h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    }
    #center_container{ 
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: color("gray-light");
h2{
    margin: 25px 20px;
}
article{
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 1px 1px 30px #00000029;
    width: 90%;
    height: 255px;
    margin: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    a{
        text-decoration: none;
        color: color("black");
    
        img{
            height:175px;
            width: auto;
            object-fit: cover;
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            }
            .now_menu{
                position: absolute;
                right: 20px;
                top: 20px;
                background-color: color("tertiary");
                color:color("now_menu");
                padding: 6px 14px;
                border-radius: 3px;
                font-weight: 500;
                font-size: 15px;
            }
            h4{
                margin: 10px 15px 0px;
            }
            p{
                font-weight: 200;
                font-size: 17px;
                margin: 5px 15px 0px; 
            }
        } 
    }
    }
}

@include media-breakpoint-up("md"){
#center_container{
    padding: 30px 50px 50px;
    h3{
        padding-bottom: 40px;
    }
    #list_restaurants{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        article{
            width: 570px;
            height: 320px;
            margin: 10px;
            margin-bottom: 30px;
            box-shadow: 0px 3px 20px rgb(0 0 0 / 30%);
            &:hover{
                box-shadow: 0px 3px 20px rgb(0 0 0 / 50%);
                width: 571px;
            }
            img{
                height: 230px;
            }
        }
    }
    
}     
}