#mainHeader {
  width: 100%;
  .explore {
    background-color: color("gray-light");
    padding-bottom: 40px;
    @include display-flex();
    flex-direction: column;
    #logo {
      @include display-flex();
      justify-content: center;
      padding: 20px 0px 12px;
      width: 100%;
      background: color("white");
      img {
        height: 30px;
      }
    }
    .explore--mapBar {
      @include display-flex;
      flex-direction: row;
      justify-content: center;
      height: 52px;
      background-color: #ebebeb;
      width: 100%;
      box-shadow: inset 0em 3px 5px #00000029;
      .fas {
        font-weight: 900;
        padding-bottom: 5px;
        color: #494949;
      }
      p {
        font-size: 16px;
        font-weight: 500;
        color: color("footer-background");
      }
    }
    h2 {
      text-align: center;
      padding: 20px 46px 0px;
      margin-bottom: 0px;
    }
    p {
      color: color("gray");
      text-align: center;
      font-size: $default-font-size;
      font-weight: 200;
      margin: 15px;
    }
  }
  #operation {
    margin-top: 50px;
    margin-bottom: 60px;
    h2 {
      margin: 30px 20px;
    }
    ul {
      @include reset("list");
      flex-wrap: wrap;
    }
  }

  @include media-breakpoint-up("md") {
    #operation {
      padding: 0px 50px;
      #operation--lst {
        display: flex;
        justify-content: space-evenly;
        li {
          font-size: font-size("md");
          justify-content: center;
          width: 320px;
          padding: 22px;
          margin: 0px 10px 30px;
          .fa-mobile-alt {
            font-size: 17px;
          }
          .menu-ellipsisBars {
            color: gray;
            .fa-ellipsis-v {
              font-size: 13px;
            }
            .fa-bars {
              font-size: 15px;
            }
          }
          .number {
            height: 18px;
            width: 18px;
            font-size: 16px;
            padding: 6px;
          }
        }
      }
    }
  }
}
