
body {
    font-family: $body-font;
    font-size: 1rem;
    color: color("black");
    background-color: color("white");
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}
#center_container{ 
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: color("gray-light");
h3{
    font-size: 23px;
    margin: 25px 20px;
}
article{
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 1px 1px 30px #00000029;
    width: 90%;
    height: 255px;
    margin: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    a{
        text-decoration: none;
        color: color("black");
    
        img{
            height:175px;
            width: auto;
            object-fit: cover;
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            }
            .now_menu{
                position: absolute;
                right: 20px;
                top: 20px;
                background-color: color("middle-blue-green");
                color:color("now_menu");
                padding: 6px 14px;
                border-radius: 3px;
                font-weight: 500;
                font-size: 15px;
            }
            .btn--heart{
                position: absolute;
                border: none;
                right: 25px;
                bottom: 30px;
                font-size: 25px;
                color: #808080;
                background: none;
                cursor: pointer;
                transform: font-weight(100) color(#808080);
                transition: transform 400ms;            
                & :hover {
                    transform: font-width(900px) color("color-buttons");
            
            }
        }
            h4{
                font-size: 18px;
                margin: 10px 15px 0px;
            }
            p{
                font-weight: 200;
                font-size: 17px;
                margin: 5px 15px 0px; 
            }
        }    
    }
}