#mainHeader {
    width: 100%;
    .explore{
        background-color: color("gray-light");
        padding-bottom: 40px;
        @include display-flex();
        #logo{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0px 12px;
            width: 100%;
            background: color("white");
            img{
                height: 30px;
            }
        }
        .explore--mapBar {
        @include display-flex;
        flex-direction: row;
        justify-content: center;
        height: 52px;
        background-color: #ebebeb;
        width: 100%;
        box-shadow: inset 0em 3px 5px #00000029;
        .fas {
            font-weight: 900;
            padding-bottom: 5px; 
            color: #494949;       
        }
        p{
            font-size: 16px;
            font-weight: 500;
            color: color("footer-background");
        }
    }    
    h2{
        text-align: center;
        font-size: 24px;
        padding: 20px 46px 0px;
        margin-bottom: 0px;
    }
    p{
    color: color("gray");
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    margin: 15px;
    }
    button{
        @extend .btn;
        margin: 15px;
        }
    }
    nav{
        margin-top: 50px;
        margin-bottom: 60px;
        h3{
        font-size: 23px;
        margin: 30px 20px; 
        }
    ul{
    padding: 0%;
    & :hover{
        background-color: rgb(216, 193, 237);
    }
        li{
        @include li-navigation;
        a{
            text-decoration: none;
            color: color("black");
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            & :hover{
                background-color: color("rose-pink") ;
                color: color("amethyst");
            }
            .fas{
                color: color("gray");
            }
            .fa-store{
                margin: 0px 22px 0px 12px;
            }
            .fa-mobile-alt{
                font-size: 20px;
                margin: 0px 25px 0px 14px;
            }
            .menu-ellipsisBars{
                display: flex;
                align-items: center;
                margin: 0px 20px 0px 10px;
                color: gray;
                .fa-ellipsis-v{
                    font-size: 15px;
                }
                .fa-bars{
                    font-size: 17px;padding-left: 2px;
                }

            
            }
            .number{
                height: 15px;
                width: 15px;
                font-size: 15px;
                padding: 5px;
                border-radius: 50%;
                background-color: color("amethyst");
                color: color("white");
                position: absolute;
                left: -40px;
                display: flex;
                justify-content: center;
                align-items: center;
                }
            }
        }
    }
    }
    
}